a:link {
    text-decoration: none;
    color: azure;
}

a:visited {
    color: azure;
}

a:hover {
    color: palegoldenrod;
}

.container {
    height: 75%;
}

nav {
    font-size: 1.5em;
    font-family: 'Caveat Brush', cursive;
    color: azure;
}

.nav-item {
    color: azure;
}

#main-menu {
    font-family: 'Nunito', sans-serif;
    font-size: 4.5em;
}

.list-group-item {
    background-color: transparent;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    line-height: 80px;
    /* Vertically center the text there */
}

i {
    font-size: 3em;
}

/*************** Page Backgrounds ***************/

#index-bg {
    background-color: indianred;
    background-image: url(/images/indexBG5.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background-size: cover;
}

#portfolio-bg {
    background-color: indianred;
    background-image: url(/images/portfolioBG5.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background-size: cover;
}

#about-bg {
    background-color: indianred;
    background-image: url(/images/aboutBG5.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background-size: cover;
}

#contact-bg {
    background-color: indianred;
    background-image: url(/images/contactBG5.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background-size: cover;
}


/************************************************************
PORTFOLIO PAGE STYLING
***********************************************************/

.portfolio-image {
    height: 100px;
}


/************************************************************
 RESUME PAGE STYLING
***********************************************************/
#resume-body {
    background-image: url("/images/resumeBGsmall.png");
    width: 100%;
    background-size: cover;
}

#contact-list {
    list-style: none;
}

#projects-div a {
    color: rgb(10, 0, 104); 
}